{
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "no-undefined": 0,
    "@typescript-eslint/no-require-imports": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
